.row {
    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    height: 100%; 
  }
