@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

li{
    padding: 5px !important;
    font-size: 25px !important;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 2px 2px #000000;
  }

  .nav-wrapper{
    background-color: #ffd90f;
  }
  
  a,a.brand-logo{
    color: #70D1FE !important;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    padding-left: 5px;
  }